# Local .terraform directories
**/.terraform/*

# Ignore variables files
*.auto.tfvars

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc
.env.sh

# Ignore CLI configuration files
.terraformrc
terraform.rc
.terraform.lock.hcl
terraform.tfstate

# Kubeconfig
k8s-do.yaml